{% extends 'layouts/main.html' %}
{% block title %}ActorPages - Favorite Actors{% endblock %}
{% block content %}

<div class="page-header">
  <h1>Search Actors</h1>
</div>
<p class="lead">

<form action="" method="post" name="search">
{{ form.hidden_tag() }}
<p>Search for an actor! Any of the following forms for searching are valid:</p>
<ul>
<li>FirstName LastName</li>
<li>LastName, FirstName</li>
<li>FirstName</li>
<li>LastName</li>
</ul>

<br/><br/>

<p>{{ form.search_term(placeholder="Search...") }} <input class="form_search" type="submit" value="Search"></p>
</form>

<br/><br/>

<ol>
{% for actor in actor_list %}
<li><a href={{ '/actor/' + actor[0] }}>{{ actor[1] }}</a></li>
{% endfor %}
</ol>
</p>

{% endblock %}
