{% extends 'layouts/main.html' %}
{% block title %}ActorPages - Actor{% endblock %}
{% block content %}

<div class="page-header" style="text-align:center;">
  <img src="{{ actor_picture }}" alt="Actor Photo" />
  <h1>{{ actor_name }}</h1>
  <h6>Actor ID: {{actor_id}}</h6>
  <form action="" method="post">
    {{ add_favorite_form.hidden_tag() }}
    <p>Add to Favorites in Position (1-10): {{ add_favorite_form.rank(size=2)}}</p>
    <p><input class="form_submit" type="submit" value="Add"></p>
  </form>
</div>
<p class="lead">
<div class="col-sm-3"> 
  <table>
    <caption>Actor Score: {{ actor_score }}</caption>
    <tr>
      <th>Genre</th>
      <th>Score</th>
      <th>Number</th>
    </tr>
    {% for genre,(score,count) in scores.iteritems() %}
    <tr>
      <td>{{ genre }}</td>
      <td>{{ score }}</td>
      <td>{{ count }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
<div class="col-sm-9">
  <table>
    <caption>Movies</caption>
    <tr>
      <th>Movie Title</th>
      <th>Year</th>
      <th>Rating</th>
      <th>Genres</th>
    </tr>
    {% for (my_title,rating,year),genres in movies.iteritems() %}
      <tr>
        <td>{{ my_title }}</td>
        <td>{{ year }}</td>
        <td>{{ rating }}</td>
        <td>
	  {% for genre in genres %}
	    {{genre}}{% if not loop.last %},{% endif %}
	  {% endfor %}
	</td>
      </tr>
    {% endfor %}
  </table>  
</div>
</p>
{% endblock %}
